{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nashrah</title>
</head>
<body>
  <a href="{% url 'home'%}">HOME</a>  <a href="{% url 'skill'%}">SKILL</a>  
    <img src="{% static 'myself.JPG'%}" alt="">
    <h1>Nashrah Karim Khan</h1>
  <p>My name is Nashrah Karim Khan and i am 22 years old.Currently i am studying CSE in a university named Asia Pacific University.I am in 3rd year,1st semester.
    My collage was Dhaka City collage and school was Y.W.C.A . My favtourite book is John green's "the fault in our stars". I've had reaad the book 100th times and still cried.
    My hobby is baking cakes.I like music a lot and sometimes paint too.I find CSE interesting because it's a dynamite subject i believe,I get to 
     know a lot new things and use lates technologys and its a vast use in almost every sphare of life.I hope i can secure a good future in CSE.</p>
 
  <h3> Reach me on my Facebook <h3>
    <a href= "https://web.facebook.com/radhamew/" target="_blank">Reach me</a>
    
</body>
</html>