{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,400;1,700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'home'%}">HOME</a>  <a href="{% url 'skill'%}">SKILL</a>  
    <h1>skills</h1>
    <h3>
        Programming languages
    </h3>
    <ul>
        <li>
            C++
        </li>
        <li>
            Java
        </li>
        <li>
            C 
        </li>
    </ul>
    
</body>
</html>