*{
    font-family: 'Lora', serif;
    color: yellow;
}
p{
    color: white;
}
body{
    width: 60%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.882);
    padding: 50px;
}
img{
    float :right;
    height: 300px;width: 300px;
    padding: 20px;
}
a{
    color: white;
    text-decoration: none;
    padding-right: 10px;
}